<%- include("partials/header.ejs") %>

<div class="books">
 <form action="/updateReview">
   <div class="book">
    <input type="hidden" name="cover_id" value="<%= locals.cover %>">
    <input type="hidden" name="title" value="<%= locals.title %>">
    <input type="hidden" name="bookId" value="<%= locals.bookId %>">
    <input type="hidden" name="author" value="<%= locals.author %>">
    
    <% if(locals.cover == 0){ %>
        <div class="blank-cover">
            <div>
              <h3><%= locals.title %></h3>
              <h4>By <%= locals.author %></h4>
            </div>
        </div>
   <% } else { %>
        <img src="//covers.openlibrary.org/b/id/<%= locals.cover %>-L.jpg"
        srcset="//covers.openlibrary.org/b/id/<%= locals.cover %>-L.jpg 2x" alt="Book cover">
   <% } %>
    
    <div class="book-details">
        <h2><%= locals.title %></h2>
        <h3>By <%= locals.author %></h3>
    
    
      <!-- if review exists, edit review else write review -->
      <% if(locals.review){ %> 
        <h3>Edit Review:</h3>
        <textarea name="review_text" id="review_text" cols="30" rows="10" required><%= review %></textarea>
      <% }else{ %> 
        <h3>Write Review:</h3>
        <textarea name="review_text" id="review_text" cols="30" rows="10" required></textarea>
      <%  } %>
      
      <h3>Rating:</h3>
      <div class="rating">
        <input id="1" type="radio" name="rating" value="1" required>
        <label for="1">
          <span class="fa fa-star"></span>
        </label>
        <input id="2" type="radio" name="rating" value="2">
        <label for="2">
          <span class="fa fa-star"></span>
        </label>
        <input id="3" type="radio" name="rating" value="3">
        <label for="3">
          <span class="fa fa-star"></span>
        </label>
        <input id="4" type="radio" name="rating" value="4">
        <label for="4">
          <span class="fa fa-star"></span>
        </label>
        <input id="5" type="radio" name="rating" value="5">
        <label for="5">
          <span class="fa fa-star"></span>
        </label>
      </div>
      <div id="error-message" width="200px" style="color: red; margin-top: 17px;"></div>
      
      <div class="button edit">
        <!-- If locals.review exists (is truthy), it means a review already exists for the book -->
        <% if(locals.review) {%>
            <input class="buttons_style" onclick="validateForm()" type="submit" value="Update" formmethod="post" formaction="/updateReview">
        <% } else { %>
            <input class="buttons_style" onclick="validateForm()" type="submit" value="Add review" formmethod="post" formaction="/addBook">
        <% } %>  
      </div>
      
    </div>
   </div>
 </form>
</div>

<%- include("partials/footer.ejs") %>